/*共用样式*/
.go{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    top:30px;
    right:30px;
    z-index: 999;
}
.more{
    position: fixed;
    bottom:80px;
    right:60px;
    z-index: 999;
    animation: more 0.3s linear infinite alternate;
}
.content{
    width: 900px;
    height: 600px;
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-450px;
}
.screen-1{
    background:url(../images/01-bg.png) no-repeat center bottom;
}
.screen-1 .goods{
    text-align: center;
    margin-top:230px;
}
.screen-1 .sofa{
    position:absolute;
    left: 230px;
    top: 150px;
    animation: more 0.8s linear infinite alternate;
}
.screen-1 .fly{
    position:absolute;
    top:20px;
    right:-50px;
    animation: fly-1 1s linear infinite alternate;
}
/*第一屏动画*/
@keyframes fly-1{
    from{
        transform: translateY(-50px);
    }
    to{
        transition: translateY(50px);
    }
}
@keyframes more{
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}

.screen-2{

    background:url("../images/02-bg.png") no-repeat center bottom;
}
.screen-2 .goods{
    position: absolute;
    left: 50%;
    margin-left:-220px;
    bottom: 210px;
    transform-origin: right bottom;
    transform: scale(0);
}
.screen-2 .sofa{
    transform: scale(0.5);
    position: absolute;
    left: 292px;
    top: 132px;
    opacity: 0;
}
.screen-2 .input{
    transform: scale(0.8);
    position: absolute;
    right: 171px;
    top: 115px;
    transform-origin: right;
    opacity: 0;
}

.screen-2 .input .search{
    
}
.screen-2 .input .key{
    position: absolute;
    right: 60px;
    top: 6px;
    opacity: 0;
}
.screen-2 .text{
    text-align: center;
}
.screen-2 .text .text01{
    position: static;
    opacity: 1;
}
.screen-2 .text .text02{
    position: absolute;
    opacity: 0;    
}
.screen-2.now .text .text01{
    position: absolute;
    opacity: 0;
}
.screen-2.now .text .text02{
    position: static;
    opacity: 1;    
    transition:opacity 1s linear;
}
.screen-2.now .input{
    animation: input02 3s linear forwards;
}
.screen-2.now .input .key{
    opacity: 1;
    transition:all 1s linear 1s;
}
.screen-2.now .goods{
    transform: none;
    transition: all 1s linear 2s;
}
@keyframes input02 {
    0%{
        /*初始元素的位子*/
        opacity: 1;
        transform: translate(2000px,130px);
    }
    33.3%{
        transform: translate(-180px,130px);
    }
    67%{
        transform: translate(-180px,130px);
    }
    100%{
        opacity: 1;
        transform: scale(0.7);
    }
}